{% extends "base.html" %}
{% block extrahead %}
<script src="https://unpkg.com/htmx.org@1.8.4"></script>
<script>
  htmx.config.useTemplateFragments = true;
</script>
{% endblock %}
{% block allcontent %}
<div id="content" class="container">
  <h2>Home: <a href="{% url 'index' %}">Project1233</a></h2>
  <div class="container">
    <div class="row">
      <div class="col col-lg-6">
        <h5>Dodaj Czynność Przetwarzania</h5>
        <div hx-get="{% url 'CzynnoscPrzetwarzania_htmx_create' %}" hx-trigger="load" hx-swap="outerHTML"></div>
        <h4>CzynnoscPrzetwarzania Lista</h4>
        <div hx-get="{% url 'CzynnoscPrzetwarzania_htmx_list' %}" hx-trigger="load">
        </div>
      </div>
      <div class="col col-lg-6">
        <h5>Add A Rejestr</h5>
        <div hx-get="{% url 'Rejestr_htmx_create' %}" hx-trigger="load" hx-swap="outerHTML"></div>
        <h4>Rejestr List</h4>
        <div hx-get="{% url 'Rejestr_htmx_list' %}" hx-trigger="load">
        </div>
      </div>
      <div class="col col-lg-6">
        <h5>Dodaj Organizację</h5>
        <div hx-get="{% url 'Organizacja_htmx_create' %}" hx-trigger="load" hx-swap="outerHTML"></div>
        <h4>Organizacja List</h4>
        <div hx-get="{% url 'Organizacja_htmx_list' %}" hx-trigger="load">
        </div>
      </div>
      <div class="col col-lg-6">
        <h5>Dodaj Komorkę</h5>
        <div hx-get="{% url 'Komorka_htmx_create' %}" hx-trigger="load" hx-swap="outerHTML"></div>
        <h4>Komorka List</h4>
        <div hx-get="{% url 'Komorka_htmx_list' %}" hx-trigger="load">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}