{% extends "base.html" %}
{% load static %}
{% block links %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" >
{% endblock %}
{% block title %}Login{% endblock %}
{% block content %}
    <form method="post" action="{% url "login" %}?next={% url 'index' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Zaloguj</button>
        {% comment %} <a href="{% url 'password_reset' %}">Zapomniałem hasła</a> {% endcomment %}
    </form>
{% endblock %}

