{% extends "../base.html" %}
{% load static %}
{% block title %}Logout{% endblock %}
{% block links %}
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" > {% endcomment %}
{% endblock %}
{% block content %}
    
        <div class="d-flex justify-content-center">
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Wyloguj się</button>
            </form>
            {% if not request.user.is_authenticated %}
                <p>Wylogowałeś się.</p>
            {% endif %}
            <a href="{% url 'login' %}" class="btn btn-primary">Zaloguj się</a>
        </div>
        
{% endblock %}
