
{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.errors}}
    <div class="container-fluid themed-container bg-body-secondary" > 
        <div class="form-group row">
            <div>
                {{ form.Rejestr | as_crispy_field }}
            </div>
        </div>
        <div class="form-group row">
            <div>
                {{ form.czn_nazwa | as_crispy_field }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                {{ form.czn_active | as_crispy_field }}
            </div>
            <div class="col-4">
                {{ form.czn_pozycja_rej | as_crispy_field }}
            </div>
            <div class="col-4">
                {{ form.czn_status_zatw | as_crispy_field }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-6">
                {{ form.czn_data_zgloszenia | as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.czn_data_wyrejestrowania | as_crispy_field }}
            </div>
        </div>    
        <div class="form-group row">
            <div class="col-6">
                {{ form.czn_data_obowazywania_od | as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.czn_data_obowazywania_do | as_crispy_field }}
            </div>
        </div>    
    </div>
    
    <div class="container-fluid themed-container bg-warning-subtle" >
        <div class="form-group row">
            <div>
                {{ form.czn_podstawa_prawna | as_crispy_field }}
            </div>
            <div class="col-4">
                {{ form.czn_zrodlo_danych | as_crispy_field }}
            </div>
        </div>
        <div class="form-group row">
            <div>
                {{ form.PrzeslankiLegalnosci | as_crispy_field }}
            </div>
        </div>
        <div class="form-group row">
            <div>
                {{ form.czn_opis_celu | as_crispy_field }}
            </div>
        </div>
        <div class="form-group row">
            <div>
                {{ form.czn_przepis_wrazliwe | as_crispy_field }}
            </div>
        </div>
        <div class="form-group row">
            <div>
                {{ form.OkresRetencji | as_crispy_field }}
            </div>
        </div>
    </div>
    <div class="accordion" id="accordionM2M">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="False" aria-controls="collapseOne">
              Administratorzy
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionM2M">
            <div class="accordion-body">
                <div class="form-group row">
                    <div>
                        {{ form.Administratorzy | as_crispy_field }}
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Współadministratorzy
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="form-group row">
                    <div>
                        {{ form.Wspoladministratorzy | as_crispy_field }}
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Podmioty przetwarzające
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="form-group row">
                    <div>
                        {{ form.PodmiotyPrzetwarzajace | as_crispy_field }}
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Kategorie osób
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionM2M">
            <div class="accordion-body">
                <div class="form-group row">
                    <div>
                        {{ form.KategorieOsob | as_crispy_field }}
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  Kategorie danych
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionM2M">
              <div class="accordion-body">
                  <div class="form-group row">
                      <div>
                          {{ form.KategorieDanych | as_crispy_field }}
                      </div>
                  </div>
              </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  Kategorie odbiorców
              </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionM2M">
              <div class="accordion-body">
                  <div class="form-group row">
                      <div>
                          {{ form.KategorieOdbiorcow | as_crispy_field }}
                      </div>
                  </div>
              </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                  Operacje przetwarzania
              </button>
            </h2>
            <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionM2M">
              <div class="accordion-body">
                  <div class="form-group row">
                      <div>
                          {{ form.OperacjePrzetwarzania | as_crispy_field }}
                      </div>
                  </div>
              </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                  Sposoby przetwarzania
              </button>
            </h2>
            <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionM2M">
              <div class="accordion-body">
                  <div class="form-group row">
                      <div>
                          {{ form.SposobyPrzetwarzania | as_crispy_field }}
                      </div>
                  </div>
              </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                  Wysokie ryzyka
              </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionM2M">
              <div class="accordion-body">
                  <div class="form-group row">
                      <div>
                          {{ form.WysokieRyzyka | as_crispy_field }}
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
    
    <div class="form-group row bg-info-subtle">
        <div>
            {{ form.KomorkiRealizujace | as_crispy_field }}
        </div>
    </div>
    {% block buttons %}{% endblock %}
    {% comment %} <div class="form-group row">
        <div class="col-3">
            <input type="submit" value="Zapisz" class="btn btn-primary">
        </div>
        <div class="col-3">
            <p>
                <a class="btn btn-light" href="{% url 'CzynnoscPrzetwarzania_list' %}">Anuluj</a>
            </p>
        </div>
    </div> {% endcomment %}
  </form>

{% endblock %}