
{% extends "base.html" %}
{% load static %}
{% block content %}
<h2>Szczegóły kategorii odbiorców danych</h2> 

<table class="table table-striped">
    <tr><td>Aktywny</td><td>{{ object.kto_active }}</td></tr>
    <tr><td>Nazwa odbiorcy</td><td>{{ object.kto_skrot }}</td></tr>
    <tr><td>Opis odbiorcy</td><td>{{ object.kto_opis }}</td></tr>
    <tr><td>Utworzono</td><td>{{ object.created }}</td></tr>
    <tr><td>Ostatnia modyfikacja</td><td>{{ object.last_updated }}</td></tr>
</table>

<div class="form-group row">
    <div class="col-3">
        <a class="btn btn-primary" href="{{object.get_update_url}}">ZMIEŃ</a>
    </div>
    <div class="col-3">
        <a class="btn btn-primary" href="{% url 'KategoriaOdbiorcow_list' %}">Zatwierdź</a>
    </div>
</div>

{% endblock %}