
{% extends "navbar.html" %}
{% load static %}
{% block content %}
<h2>Szczegóły okresu retencji</h2> 

<table class="table table-striped">
    <tr><td>Aktywny</td><td>{{ object.okr_active }}</td></tr>
    <tr><td>Nazwa okresu retencji</td><td>{{ object.org_nazwa }}</td></tr>
    <tr><td>Opis okresu retencji</td><td>{{ object.okr_opis_okresu }}</td></tr>
    <tr><td>Maksymalnie w latach</td><td>{{ object.okr_lat_max }}</td></tr>
    <tr><td>Utworzono</td><td>{{ object.created }}</td></tr>
    <tr><td>Ostatnia modyfikacja</td><td>{{ object.last_updated }}</td></tr>
</table>

<div class="form-group row">
    <div class="col-3">
        <a class="btn btn-primary" href="{{object.get_update_url}}">ZMIEŃ</a>
    </div>
    <div class="col-3">
        <a class="btn btn-primary" href="{% url 'OkresRetencji_list' %}">Zatwierdź</a>
    </div>
</div>

{% endblock %}