
{% extends "base.html" %}
{% load static %}
{% block content %}
<h2> Szczegóły rejestru</h2>
<table class="table table-striped align-middle">
    <tr><td>Aktywny</td><td>{{ object.rej_active }}</td></tr>
    <tr><td>Nazwa rejestru</td><td>{{ object.rej_nazwa }}</td></tr>
    <tr><td>Właściciel</td><td>{{ object.Organizacja }}</td></tr>
    <tr><td>Zakres</td><td>{{ object.rej_zakres }}</td></tr>
    <tr><td>Opis</td><td>{{ object.rej_opis }}</td></tr>
    <tr><td>Utworzono</td><td>{{ object.created }}</td></tr>
    <tr><td>Ostatnia modyfikacja</td><td>{{ object.last_updated }}</td></tr>
</table>

<div class="form-group row">
    <div class="col-3">
        <a class="btn btn-primary" href="{{object.get_update_url}}">ZMIEŃ</a>
    </div>
    <div class="col-3">
        <a class="btn btn-primary" href="{% url 'Rejestr_list' %}">Zatwierdź</a>
    </div>
</div>

{% endblock %}