
{% extends "navbar.html" %}
{% block content %}

<form method="post">
  {% csrf_token %}
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Usuwanie definicji zagrożenia !</h4>
    <p class="fs-4">Czy na pewno usunąć definicję zagrożenia: "{{ object }}"?</p>
    <hr>
      <p class="fs-5">Usunięcie zapisu może spowodować utratę spójności danych</p>
    <hr>
    <div class="form-group row">
      <div class="col-3">
        <input class="btn btn-danger" value="Usuń kategorię danych" type="submit">
      </div>
      <div class="col-3">
        <a class="btn btn-primary" href="{% url 'Zagrozenie_list' %}">Anuluj</a>
      </div>
    </div>
  </div>
</div>

</form>
{% endblock %}
