
{% extends "navbar.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<h2>Edycja zagrożenia</h2> 

    
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.errors}}

    <div class="form-group row">
        <div class="col col-md-auto">
            {{ form.zag_active | as_crispy_field }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-6">
            {{ form.GrupaZagrozen | as_crispy_field }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-6">
            {{ form.zag_skrot | as_crispy_field }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-6">
            {{ form.zag_opis | as_crispy_field }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-3">
            <input type="submit" value="Zapisz" class="btn btn-primary">
        </div>
        <div class="col-3">
            <a class="btn btn-primary" href="{% url 'Zagrozenie_list' %}">Anuluj</a>
        </div>
    </div>
 
</form>

{% endblock %}