{% extends "../navbar.html" %}
{% load static %}
{% block content %}
<h2>Szczegóły kategorii danych</h2> 

<table class="table table-striped">
    <tr><td>Aktywny</td><td>{{ object.kd_active }}</td></tr>
    <tr><td>Nazwa kategorii danych</td><td>{{ object.kd_skrot }}</td></tr>
    <tr><td>Opis kategorii danych</td><td>{{ object.kd_opis }}</td></tr>
    <tr><td>Szczególna kategoria danych</td><td>{{ object.kd_dane_szczegolne }}</td></tr>
    <tr><td>Utworzono</td><td>{{ object.created }}</td></tr>
    <tr><td>Ostatnia modyfikacja</td><td>{{ object.last_updated }}</td></tr>
</table>

<div class="form-group row">
    <div class="col-3">
        <a class="btn btn-primary" href="{{object.get_update_url}}">ZMIEŃ</a>
    </div>
    <div class="col-3">
        <a class="btn btn-primary" href="{% url 'KategoriaDanych_list' %}">Zatwierdź</a>
    </div>
</div>

{% endblock %}