
{% extends "../navbar.html" %}
{% load static %}
{% block content %}
<h2>Szczegóły zabezpieczenia {{ object.zab_skrot }}</h2> 

<table class="table table-striped">
    <tr><td>Aktywne</td><td>{{ object.zab_active }}</td></tr>
    <tr><td>Symbol zabezpieczenia</td><td>{{ object.zab_skrot }}</td></tr>
    <tr><td>Opis zabezpieczenia</td><td>{{ object.zab_opis }}</td></tr>
    <tr><td>Grupy zabezpieczeń</td><td>
        {% if object.GrupyZabezpieczen.all %}
            {% for gz in object.GrupyZabezpieczen.all %}
                <p>{{ gz }}</p>
            {% endfor %}
        {% else %}
            <p>-- BRAK DANYCH --</p> 
        {% endif%}
    </td></tr>
    {% comment %} 
    <tr><td>Zagrożenia</td><td>
        {% if object.Zagrozenia.all %}
            {% for zagr in object.Zagrozenia.all %}
                <p>{{ zagr }}</p>
            {% endfor %}
        {% else %}
            <p>-- BRAK DANYCH --</p> 
        {% endif%}
    </td></tr> 
    {% endcomment %}
    <tr><td>Odpowiedzialni za wprowadzenie</td><td>
        {% if object.Odpowiedzialni.all %}
            {% for od in object.Odpowiedzialni.all %}
                <p>{{ od }}</p>
            {% endfor %}
        {% else %}
            <p>-- BRAK DANYCH --</p> 
        {% endif%}
    </td></tr>
    <tr><td>Utworzono</td><td>{{ object.created }}</td></tr>
    <tr><td>Ostatnia modyfikacja</td><td>{{ object.last_updated }}</td></tr>
</table>

<div class="form-group row">
    <div class="col-3">
        <a class="btn btn-primary" href="{{object.get_update_url}}">ZMIEŃ</a>
    </div>
    <div class="col-3">
        <a class="btn btn-primary" href="{% url 'Zabezpieczenie_list' %}">Zatwierdź</a>
    </div>
</div>

{% endblock %}